.App {
  text-align: center;
}
.hdr{
  background:url('./images/bg.png');
  background-size:cover

}
.img-circle {
  &:before {
    position: absolute;
    z-index: -1;
    /* go outside padding-box by 
     * a border-width ($b) in every direction */
    top: -$b; right: -$b; bottom: -$b; left: -$b;
    border: inherit;
    border-color: transparent;
    background: inherit;
    background-clip: border-box;
    content: ''
  }
}
@font-face {
  font-family: AdamFont;
  src: url("./fonts/adm.otf") format("opentype");
}
.fnt {
  font-family: 'AdamFont';
}
.App-header {
  background-color: #282c34;
  min-height: 10000vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}